*{
    margin:0;
    padding: 0;
}

html {
    font-size: 10px;
    body {
        font-family: 'Raleway', 'sans-serif';
        overflow: hidden;
        height: 100vh;
    }
    h2 {
        font-family: 'Numans', 'sans-serif';
        font-size: 1.9rem;
        color: #171717;
        margin: 0;
        line-height: 1.2;
    }
    p {
        color: #343434;
        font-size: 1.6rem;
        line-height: 1.4;
    }
    i.q-icon {
        font-size: 2.4rem;
        color:$white;
    }
    .q-btn{
        box-shadow: 0 0 0 0;
    }
}

*::-webkit-scrollbar {
    display: none;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.clearfix:before {
    content: " ";
    display: block;
    clear: both;
}



// Quasar CSS Overrides
#q-app > .layout {
    overflow: hidden;
    height: 100vh;
}
.layout-aside.layout-aside-left {
    width: 100%;
    background-image: url('../assets/cream-pixels.png');
}
.layout-page-container{
    padding-top: 0!important;
}
   .loader-bg{
        background:#d23f50!important;
    }

    .q-toolbar.q-toolbar-normal{
        padding-top: 0;
        padding-bottom: 0;
        align-items: stretch;
        background: #333;
    }
    .q-toolbar-title{
        display: inline-flex;
        align-items: center;
    }

@font-face {
    font-family: 'Numans';
    src: url('../assets/fonts/Numans/Numans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}