$icomoon-font-path: "../assets/fonts/icons" !default;
$nw-business: "\e900";
$nw-entertainment: "\e901";
$nw-general: "\e902";
$nw-health: "\e903";
$nw-science: "\e904";
$nw-sports: "\e905";
$nw-technology: "\e906";
@font-face {
    font-family: 'newsWave';
    src : url('#{$icomoon-font-path}/icomoon.ttf?qigpm7') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?qigpm7') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?qigpm7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="nw-"],
[class*=" nw-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'newsWave' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nw-business {
    &:before {
        content: $nw-business;
    }
}

.nw-entertainment {
    &:before {
        content: $nw-entertainment;
    }
}

.nw-general {
    &:before {
        content: $nw-general;
    }
}

.nw-health {
    &:before {
        content: $nw-health;
    }
}

.nw-science {
    &:before {
        content: $nw-science;
    }
}

.nw-sports {
    &:before {
        content: $nw-sports;
    }
}

.nw-technology {
    &:before {
        content: $nw-technology;
    }
}